amqp
annotated-types
asgiref
billiard
celery
click
click-didyoumean
click-plugins
click-repl
Django
django-cors-headers
django-extensions
django-ninja
djangorestframework
install
kombu
pillow
prompt-toolkit
pydantic
pydantic-core
python-dateutil
redis
six
sqlparse
typing-extensions
tzdata
vine==5.0.0
wcwidth==0.2.5
xlrd==2.0.1
